@import url('https://fonts.googleapis.com/css2?family=Alice&family=Noto+Sans&family=Philosopher:wght@400;700&family=Raleway:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}
input[type="text"] {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
}
:root {
    --swiper-theme-color: #D4D626;
}
html {
    overflow-x: hidden;
}
body {
    position: relative; 
}
h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 74.8358px;
    line-height: 113%;
    font-weight: 700;
    color: #fff;
} 
.gray-bg {
    background-color: #e5e5e5;
}
.btn-phone-green-black {
    display: block;
    background: url('./img/phone-black-green.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 86px;
    height: 86px;
    position: absolute;
    top: 30%;
    right: 9%;
    transition: 0.4 ease;
    transform: scale(1);
}
.btn-phone-green-black:hover {
    transform: scale(1.1);
}
.main-bg {
    background: url('./img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-bg::after {
    content: '';
    display: block;
    /* position: absolute; */
    background: linear-gradient(360deg, #D2D285 11.43%, rgba(210, 210, 133, 0) 100%);
    width: 100%;
    height: 614px;
    left: 0px;
    bottom: 0;
    z-index: -1;
}
.small-bg {
    background: url('./img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header {
    padding-top: 40px; 
    
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.logo {
    background: url('./img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 313px;
    height: 66px;
    margin-right: 20px;
}
.drop-down {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 23px;
    position: relative;
}
.drop-down::after {
    content: '';
    display: block;
    border-bottom: 2px solid #D4D626;
    width: 176px;
    position: absolute;
    left: 24px;
    top: 31px;
}
.menu-select {
    margin-left: 10px;
    border: none;
    color: #fff;
    width: 156px;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 136.8%;
    outline: none;
    background: url('./img/drop-down.svg');
    background-repeat: no-repeat;
    background-size: 9px 7.75px;
    background-position: 98% center;
    appearance: none;
    position: relative;
    
}
.menu-select option {
    color: #000;
    background: #fff;
}
.select-big {
    position: relative;
}
.select-big::after {
    content: '';
    display: block;
    border-bottom: 1px solid #fff;
    width: 350px;
    position: absolute;
    right: 6%;
    top: 89%;
}
.menu-select-big {
    width: 373px;
    font-weight: 500;
    font-size: 27px;
    line-height: 136.8%;
}

.contact-select-big {
    margin-left: 75px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 2px; 
}
.header {
    padding-top: 40px;
    padding-right: 7%;
    padding-left: 6%;
} 

.header-box {
    display: flex;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    gap: 30px;
}
.header-nav_list {
    list-style: none;
    padding: 0;
}
.header-nav_link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #fff;
    transition: 0.4s ease;
}
.header-nav_link:hover {
    color: #D4D626;
}
.navbar.on-search .header-nav {
    opacity: 0;
}
.navbar.on-search .search-txt {
    display: inline-block;
    
}
.search-box {
    position: relative;
}
.search-txt {
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    outline: none;
    color: #fff;
    line-height: 30px;
    position: absolute;
    float: left;
    width: 580px;
    right: 40px;
    top: -30px;
    transition: 0.4s;
    display: none;
}

.search-btn {
    display: block;
    border: none;
    background: url('./img/search.svg');
    background-repeat: no-repeat;
    width: 16.6px;
    height: 16px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    position: relative;
}
.search-btn:hover::after {
    content: '';
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    position: absolute;
    right: -20px;
    top: -20px;
}
.title-hero {
    font-size: 64.9171px;
    line-height: 113%;
    max-width: 600px;
    margin-top: 130px;
    margin-left: 20px;
    margin-bottom: 125px;
    color: #fff;
}


/* ==== первый свайпер */
/* подключить js css для свайпера */
.swiper {
    margin-right: 0;
    z-index: 1;
}

.hero_swip-box {
    position: relative;
}

.hero_swiper {
    width: 100%;
    max-width: 740px;
    height: 283px;
    padding-bottom: 2px;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: inherit;
    bottom: 0;
    width: 48%;
}

.swiper-button-next {
    background-image: url(../img/arrow-right-green.svg);
    /* background: url(./img/arrow-right-green.svg); */
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* width: 58px; */
    /* height: 58px; */
    top: inherit;
    opacity: 1;
    right: 26%;
    bottom: 69px;
}

.swiper-button-prev {
    background-image: url(../img/arrow-left-green.svg);
    /* background: url(../img/arrow-left-green.svg); */
    /* background: url(./img/arrow-right-green.svg); */
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: inherit;
    left: inherit;
    width: 58px;
    height: 58px;
    opacity: 1;
    right: 35.6%;
    bottom: 69px;
}
.hero_visual {
    background-image: url('../img/hero-pic.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 353px;
    height: 250px;
}

.hero_wrap {
    /* max-width: 500px; */
    display: flex;
    justify-content: space-between;
    text-align: left;
    height: 352px;
}

.swiper-pagination-progressbar {
    background: #fff;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #fff;
    top: -2px;
}

.hero-content {
    display: flex;
    justify-content: start;
    align-items: start;
}
.hero-visual {
    background-image: url('./img/hero-pic.png');
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 48%;
    width: 353px;
    height: 250px;
    margin-left: 500px;
    position: relative;
}
.hero-visual::after {
    content: '';
    border-bottom: 1px solid #fff;
}
.hero-text {
    margin-left: 60px;
    flex-basis: 20%;
}
.hero-subheading {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 12px;
    margin-top: 5px;
}
.hero-heading {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: 38px;
    max-width: 310px;
    color: #fff;
}
.hero-icons {
    margin-top: 35px;
    display: flex;
    gap: 15px;
}
.arrow-left {
    width: 58px;
    height: 58px;
}
.arrow-right {
    width: 58px;
    height: 58px;
}
.white-phone-btn {
    display: block;
    position: absolute;
    background: url('./img/phone.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.4s ease;
    width: 75px;
    height: 75px;
    
}
.white-phone-index {
    top: 17%;
    right: 10%;  
}
.white_phone-index {
    top: inherit;
    bottom: -63px;
    right: 0;
    z-index: 3;
}
.white_phone-btn {
    display: block;
    position: absolute;
    background-image: url(../img/phone.svg);
    /* background: url('../img/phone.svg'); */
    background-repeat: repeat;
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.4s ease;
    width: 75px;
    height: 75px;
}
.white-phone-offers {
    margin-top: 135px;
    margin-bottom: 48px;
}
.services {
    position: relative;
    z-index: 0;
}

/* SLIDER2 - Index Page*/

.slider2 {
    position: absolute;
    margin-left: 547px;
    top: 320px;
}
.slick-slider {

}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
/* .slider2 .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -80px;
    z-index: 10;
    font-size: 0;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border: 0;
} */
/* .slider2 .slick-arrow.slick-prev {
    left: 0;
    background: url('./img/arrow-left-green.svg') 0 0 / 100% no-repeat;
}
.slider2 .slick-arrow.slick-next {
    right: 0;
    background: url('./img/arrow-right-green.svg') 0 0 / 100% no-repeat; 
} */

.slider2__item {
   width: 420px;
}

/*END of SLICK SLIDER2 */


.swiper-title {
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 29px;
    line-height: 124.8%;
    text-transform: uppercase;
}
.swiper-title::after {
    content: '';
    display: block;
    border-bottom: 1px solid #D4D626;
    width: 232px;
}
.swiper-no {
    font-family: 'Alice';
    font-weight: 400;
    font-size: 56px;
    line-height: 129.8%;
    text-transform: uppercase;
}

.wrap-services {
    position: absolute;
    margin-left: 100px; 
    margin-top: 310px;
}
.services-text {
    display: flex;
    flex-direction: column;
    max-width: 304px;
    /* margin-left: 95px; */
    /* margin-right: 122px; */
}
.title-services {
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase;
    font-size: 46px;
    line-height: 52px;
    font-weight: 700;
    margin-bottom: 30px;
}
.descr-services {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 120px;
    line-height: 21px; 
}

.service-card {
    max-width: 302px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}
.img-service_card {
    background: url('./img/spa-3.png');
    border-radius: 10px;
    width: 100%;
    max-width: 303px;
    height: 100%;
}
.heading-service_card {
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: 29px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.heading-service_card::after {
    content: '';
    display: block;
    border-bottom: 1px solid #D4D626;
    width: 245px;
    margin-top: 5px;
}
.service-number_card {
    font-family: 'Alice', serif;
    font-weight: 400;
    font-size: 56px;
    text-align: left;
}
.btn {
    display: flex;
}
.btn-bg {
    background: url('./img/button.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 165px;
    height: 66px;
    position: absolute;
}
.btn-bg_services {
    position: absolute;
    top: 96%;
}
.btn-text {
    position: absolute;
    text-decoration: none;
    color: #000;
    font-family: 'Philosopher', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 47px; 
}
.btn-text_services {
    position: absolute;
    top: 370px; 
}
.offers {
    background: #e5e5e5;
    padding-top: 200px;
    padding-bottom: 120px;
}
.offers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 457px 179px 705px;
    gap: 10px;
    margin-top: 150px;
}
.offers-grid_item1 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
.offers-grid_item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
.offers-grid_item3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: end;
}
.offers-grid_item4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    justify-self: start;
    align-self: end;
}
.offers-grid_item5 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
    margin-left: 40px;
    margin-top: 113px;
}

.offers-title {
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase;
    font-size: 46px;
    margin-bottom: 50px;
}
.offers-description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 22.37px;
    max-width: 295px;
}
.btn-bg_offers {
    top: 41%;
}
.btn-text_offers {
    top: 41.4%;
}
.grid_item2-pic {
    background: url('./img/15offer.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 406px;
    height: 510px;
    margin-bottom: 30px;
}
.discount-15 {
    font-family: 'Raleway';
    font-size: 50px;
    font-weight: 500;
    position: relative;
    z-index: 5;
    top: 390px;
    left: -30px;
}
.grid_item2-pic::before {
    content: '';
    text-align: center;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #D4D626;
    position: relative;
    top: 300px;
    left: -60px;
}

.phone-green {
    width: 75px;
    height: 75px;
}
.item-title {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.item2-title {
    max-width: 320px;
}
.item-text {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.item2-text {
    max-width: 260px;
}
.grid_item4-pic {
    background: url('./img/10offer.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 535px;
    height: 289px;
    margin-bottom: 30px;
}
.discount-10 {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 500;
    position: relative;
    z-index: 5;
    top: 220px;
    left: 500px;
}
.grid_item4-pic::after {
    content: '';
    position: relative;
    display: block;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background-color: #D4D626;
    top: 150px;
    left: 480px;
}
.item4-title {
    max-width: 400px;
}
.item4-text {
    max-width: 350px;
}
.grid_item5-pic {
    background: url('./img/massage.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    width: 301px;
    height: 377px;
    margin-bottom: 30px;
}
.grid_item5-pic::before {
    content: '';
    background: url('./img/new-spa.svg');
    display: block;
    width: 148px;
    height: 148px;
    position: relative;
    top: 210px;
    left: -76px; 
}
.item5-title {
    max-width: 245px; 
}
.item5-text {
    max-width: 288px;
}
.registration {
    padding-bottom: 100px;
}
.registration-contacts {
    padding-top: 46px;
    padding-bottom: 55px;
}
.registration-contacts._gallery {
    padding-top: 140px;
}
.registration-contacts._gallery .online-reg{
    border: 1px solid #000;
    border-radius: 10px;
}
.registration-contacts._gallery .online-reg-title{
    color: #000;  
}
.form-input-name_black {
    color: #000;
}
.form-input input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea[type="text"] { 
    color: #000;
    
   }
   input[type="text"]::-webkit-input-placeholder {
    color: #000;
   } 
   input[type="text"]::-moz-placeholder {
    color: #000;
   } 
   input[type="email"]::-webkit-input-placeholder {
    color: #000;
   } 
   input[type="email"]::-moz-placeholder {
    color: #000;
   } 
   input[type="tel"]::-webkit-input-placeholder {
    color: #000;
   } 
   input[type="tel"]::-moz-placeholder {
    color: #000;
   } 
   textarea[type="text"]::-webkit-input-placeholder {
    color: #000;
   } 
   textarea[type="text"]::-moz-placeholder {
    color: #000;
   } 
.registration-contacts._gallery .form-input {
    border-bottom: 1px solid #000;
}

.registration-contacts._gallery .online-reg-left{
    background-color: #e5e5e5;

}
.btn-flex._gallery .online-reg-btn {
    color: #000;
    border: 1px solid #000;
}
.btn-flex._gallery .online-reg-confirm {
    color: #000;
}
.online-reg {
    display: flex;
    max-width: 1360px;
    margin: 0 auto;
    
}
.online-reg-left {
    flex-basis: 51%;
    height: 100%;
    background-color: #9E9D52;
    border-radius: 10px 0 0 10px;
}
.reg-left-wrapper {
    margin-left: 60px;
    margin-top: 65px;
}
.online-reg-form {
    /* max-width: 515px; */
    max-width: 462px;
    display: flex;
    flex-direction: column;
}
.online-reg-title {
    max-width: 260px;
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 59.1429px;
    line-height: 113%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 32px;
}
.online-reg-title_cert {
    color: #000;
}
.online-reg-pic {
    border-radius: 0 10px 10px 0;
    width: 100%;
    max-width: 650px;
    height: 100%;
}
.form-input {
    background: transparent;
    outline: 0;
    border: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #D4D626;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea[type="text"] { 
    
    padding: 26px 0 12px;
   }
   .online-reg-form input[type="text"]::-webkit-input-placeholder {
    color: #fff;
   } 
   .online-reg-form input[type="text"]::-moz-placeholder {
    color: #fff;
   } 
   .online-reg-form input[type="email"]::-webkit-input-placeholder {
    color: #fff;
   } 
   .online-reg-form input[type="email"]::-moz-placeholder {
    color: #fff;
   } 
   .online-reg-form input[type="tel"]::-webkit-input-placeholder {
    color: #fff;
   } 
   .online-reg-form input[type="tel"]::-moz-placeholder {
    color: #fff;
   } 
   .online-reg-form textarea[type="text"]::-webkit-input-placeholder {
    color: #fff;
   } 
   .online-reg-form textarea[type="text"]::-moz-placeholder {
    color: #fff;
   } 
.form-input-text {
    margin-bottom: 20px;
}



   /* RADIO Button */
  
input[type="radio"]
{
  appearance: none;
}

input[type="radio"] + label
{
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18.17px;
  
}

input[type="radio"] + label::before
{
  content: "";
  display: inline-block;
  width: 15px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s;
}

input[type="radio"] + label::after
{
  content: "";
  display: inline-block;
  width: 5px;
  aspect-ratio: 1;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
}

input[type="radio"]:checked + label::after
{
  opacity: 1;
}
.btn-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 44px;
}
.online-reg-btn {
    border: 0;
    outline: 0;
    border: 1px solid #fff;
    border-radius: 40px;
    background: transparent;
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 17px;
    line-height: 139.8%;
    color: #fff;
    padding: 12px 30px;
    margin-top: 50px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: 0.3s ease;
}
.online-reg-btn:hover {
    transform: scale(1.1);
}
.online-reg-confirm {
    font-family: 'Raleway';
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-top: 0;
}

.contact {
    background: #e5e5e5;
}
.contact-us {
    padding-top: 60px;
}
.main-contact-title {
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 46px;
    line-height: 52px;
    text-transform: uppercase;
    padding-top: 37px;
    margin-bottom: 40px;
}
.contact-nav {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-bottom: 70px;
}
.contact-nav-item {
    display: flex;
    flex-direction: column;
}
.contact-title {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 13px;
    line-height: 210%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #9E9D52;
    margin-bottom: 10px;
}
.contact-content {
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
}
.contact-email {
    border-bottom: 1px solid #000;
}
.contacts {
    text-decoration: none;
    color: #000;
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
}
.contact-hours-descr {
    font-family: 'Raleway';
    font-size: 13px;
    line-height: 138%;
    margin-top: 10px;
}
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-line {
    border-bottom: 1px solid #000;
    width: 643px;
}
.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
li {
    list-style: none;
}
.social {
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 195%;
    text-align: right;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #000;
    transition: 0.3s ease;
}



/* Services and Prices Page */

.service-flex {
    display: flex;
    align-items: center;
    gap: 130px;
    margin-top: 90px;
    padding-bottom: 100px;
}
.services-title {
    text-transform: uppercase;
}
.services-descriprion {
    color: #fff;
    line-height: 139.8%;
    max-width: 380px;
}
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 53px;
    column-gap: 63px;
    margin-top: 55px;
    margin-bottom: 100px;
}
.category-item {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 14px;
    line-height: 136.8%;
    letter-spacing: 0.04em;
    color: #000;
    transition: 0.4s ease;
}
.category-item:hover {
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 40px;
}
.active {
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 40px;  
}

.cards-list-grid {
    display: grid;
    grid-template-columns: 49% 50%;
    grid-auto-rows: repeat(4, 311px);
    row-gap: 90px;
}
.card-item {
    display: flex;
    gap: 40px;
    transition: 0.4s ease;
    position: relative;
}

.btn-reg {  
    display: block;
    text-decoration: none;
    background-color: #9E9D52;
    color: #fff;
    padding: 15px 25px;
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 17px;
    line-height: 139.8%;
    border: none;
    border-radius: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
}
.card-item:hover .btn-reg {
    opacity: 1;
}
.col-right {
    flex-basis: 55.5%;
}
.card-title {
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 14px;
}
.time-price {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 13px;
    line-height: 277%;
    letter-spacing: 0.04em;
}

.line {
    border-bottom: 1px solid #9E9D52;
    max-width: 335px;
}
.card-text {
    max-width: 343px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-top: 33px;
    margin-bottom: 6px;
}
.card-link-details {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 9px;
    line-height: 200%;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000;
    transition: 0.3s ease;
    margin-bottom: 40px;
}
.card-item-pic {
 
    height: 311px;
    flex-basis: 27%;
}

.card-title3 {
    margin-bottom: 9px;
    
}

.card-title4 {
    max-width: 270px;
    margin-bottom: 9px;
}

.reg-SPA {
    margin-top: 156px;

}
/* GALLERY PAGE  */

.slider3 {
    padding-top: 120px;
    position: relative;
}
.slider3__item {
    text-align: center;
    width: 790px;
    transition: all 0.3s ease 0s;
}
.slider3__item.slick-center {
    
}
.slider3__item.slick-slider {
    /* width: 100%; */
}
.slider3__item.slick-active {
    /* transform: scale(1.1); */
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
.slider3 .slick-arrow {
    position: absolute;
    top: 5%;
    z-index: 10;
    font-size: 0;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border: 0;
}
.slider3 .slick-arrow.slick-prev {
    right: 17%;
    background: url('./img/arrow-left-green.svg') 0 0 / 100% no-repeat;
}
.slider3 .slick-arrow.slick-next {
    right: 11%;
    background: url('./img/arrow-right-green.svg') 0 0 / 100% no-repeat; 
}
.slider3 .slick-dots{}
.slider3 .slick-dots li{}
.slider3 .slick-dots button{}


/* ONLINE-REGISTRATION FORM */


.certificate-form {
    padding-top: 40px;
   
}
.certificate-form .online-reg-title {
    margin-bottom: 33px;
}
.certificate-form .online-reg-left {
    background-color: #D4D626;
}
.online-reg-left-gray-bg {
    background-color: #e5e5e5;
    flex-basis: 52%;
}
.online-reg-border {
    display: block;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-cert-right-border {
    border-radius: 0 10px 10px 0;
    width: 100%;
    
    max-width: 708px;
    height: 100%;
}    
.online-reg-form {
    display: flex;
    flex-direction: column;
}
.certificate-form.online-reg-title {
    color: #000;
}
.online-enroll-form {
    display: flex;
    flex-direction: column;
    max-width: 515px;
    
}
.online-enroll-form input[type="text"], input[type="email"], input[type="tel"], textarea[type="text"] { 
    color: #000;
    padding: 26px 0 12px;
   }
   .certificate-form input[type="text"]::-webkit-input-placeholder {
    color: #000;
    padding: 26px 0 12px;
   } 
   .certificate-form input[type="text"]::-moz-placeholder {
    color: #000;
    padding: 26px 0 12px;
   } 
   .certificate-form input[type="email"]::-webkit-input-placeholder {
    color: #000;
    padding: 26px 0 12px;
   } 
   .certificate-form input[type="email"]::-moz-placeholder {
    color: #000;
    padding: 26px 0 12px;
   } 
   .certificate-form input[type="tel"]::-webkit-input-placeholder {
    color: #000;
    padding: 26px 0 12px;
   } 
   .certificate-form input[type="tel"]::-moz-placeholder {
    color: #000;
    padding: 26px 0 12px;
   } 
   .certificate-form textarea[type="text"]::-webkit-input-placeholder {
    color: #000;
    padding: 26px 0 12px;
   } 
   .certificate-form textarea[type="text"]::-moz-placeholder {
    color: #000;
    padding: 26px 0 12px;
   } 
.certificate-form_radio {
    color: #000;
}
   .certificate-form .form-input {
    border-bottom: 1px solid #000;
   }
   .certificate-form .online-reg-btn {
       color: #000;
       border: 1px solid #000;
   }
   .certificate-form .online-reg-confirm {
    color: #000;
}
.gallery-label {
    color: #000;
}











/* END of GALLERY PAGE  */


/* OFFERS PAGE  */

.current-offers-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 580px 580px;
    column-gap: 114px;
    row-gap: 90px;
    padding-top: 110px;
    padding-bottom: 100px;
}
.offers-card {
    display: flex;
    flex-direction: column;
}
.offers-card-img {
    display: block;
   
    background-repeat: no-repeat;
    background-size: cover;
    width: 303px;
    height: 378px;
    margin-bottom: 32px;
}
.offers-card:nth-child(1) {
    background: url('./img/offers1.png');
    background-repeat: no-repeat;
}
.offers-card:nth-child(2) {
    background: url('./img/offers2.png');
    background-repeat: no-repeat;
}
.offers-card:nth-child(3) {
    background: url('./img/offers3.png');
    background-repeat: no-repeat;
}
.offers-card:nth-child(4) {
    background: url('./img/offers4.png');
    background-repeat: no-repeat;
}
.offers-card:nth-child(5) {
    background: url('./img/offers5.png');
    background-repeat: no-repeat;
}
.offers-card-title {
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    max-width: 290px;
    margin-bottom: 23px;
}
.offers-card-text {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    max-width: 290px;
}
.green-bg {
    background-color: #31311F;
}
.header-flex {
    display: flex;

}
.certificate-title {
    margin-top: 95px;
    font-family: 'Philosopher';
    font-weight: 400;
    font-size: 46px;
    line-height: 117%;
    text-transform: uppercase;
    color: #fff;
    max-width: 547px;
}
.ellipse-green {
    display: block;
    background: url('./img/Ellipse 8.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 240px;
    margin-top: 57px;
    
}
.ellipse-text {
    margin-top: 80px;
    margin-left: 150px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 139.8%;
    color: #fff;
    max-width: 339px;
}



/* SQUARE CHECKBOX */

.checkbox-square {
    margin-top: 35px;
}
.checkbox-button__label1 {
    text-transform: uppercase;
    margin-right: 60px;
}
.checkbox-button__label2 {
    text-transform: uppercase;
}
.checkbox-button {
    cursor: pointer;
}
  
input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}
  
input {
      font-size: 1rem;
      line-height: 1.5;
      padding: 11px 23px;
      border: 1px solid ;
      border-radius: 0;
      outline: 0;
      background-color: #000;
}
  
  .checkbox-button__input {
      opacity: 0;
      position: absolute;
  }
  
  .checkbox-button__control {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 11px;
      vertical-align: middle;
      background-color: inherit;
      color: #000;
      border: 1px solid #000;
  }
  
  .checkbox-button__input:checked+.checkbox-button__control:after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      width: 15px;
      height: 15px;
      background-color: #000;
  }
  
  .checkbox-button__input:checked+.checkbox-button__control {
      border-color: #000;
  }
  
  .checkbox-button__control {
    transform: scale(0.75);
}
  
/* END OF SQUARE CHECKBOX */


.certificate-form_radio {
    margin-top: 23px;
}

/* RADIO-BUTTON */

.radio-button__label {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 13px;
    line-height: 139.8%;
}

.radio-button {
    cursor: pointer;
    padding-right: 25px;
  }
  input[type=radio] {
      box-sizing: border-box;
      padding: 0;
  }
  
  input {
      font-size: 1rem;
      line-height: 1.5;
      padding: 11px 23px;
      border: 1px solid #000;
      border-radius: 0;
      outline: 0;
      background-color: transparent;
  }
  
  .radio-button__input {
      opacity: 0;
      position: absolute;
  }
  
  .radio-button__control {
      position: relative;
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 12px;
      vertical-align: middle;
      background-color: inherit;
      color: #000;
      border: 1px solid #000;
      border-radius: 24px;
  }
  
  .radio-button__input:checked+.radio-button__control:after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      width: 15px;
      height: 15px;
      background-color: #000;
      border-radius: 12px;
  }
  
  .radio-button__input:checked+.radio-button__control {
      border-color: #000;
  }
  
  .radio-button__control {
    transform: scale(0.75);
  }

  /* END OF RADIO-BUTTON */

.offers-contact {
    color: #fff;
}
.offers-contact .contact-tel, 
.offers-contact .contact-email, 
.offers-contact .contact-hours, 
.offers-contact .contact-hours-descr {
    color: #fff;
}
.offers-contact .contact-email {
    border-bottom: 1px solid #fff;
}
.offers-footer {
    color: #fff;
    padding-bottom: 100px;
}
.offers-footer .footer-line {
    border-bottom: 1px solid #fff;
}
.offers-footer .footer-social, 
.offers-footer .fb, 
.offers-footer .insta, 
.offers-footer .trip {
    color: #fff;
}

       /* Gallery PAGE */

#Swiper3 {
    overflow: hidden;
    display: flex;
    position: absolute;
    max-width: 900px;
    /* height: 100%; */
    margin-left: 220px;
    padding-top: 120px;
    padding-bottom: 120px;
}
#Swiper3 .swiper-wrapper {

}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: end;
    justify-content: end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: end;
    align-items: start;
  }

  #Swiper3 .swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

  #Swiper3 .swiper-slide:nth-child(1n) {
    background: url('./img/gallery1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    /* height: 500px; */
    transition: 0.5s ease;
  }

  #Swiper3 .swiper-slide:nth-child(1n):hover {
      transform: scale(1.5);
  }

  #Swiper3 .swiper-slide:nth-child(2n) {
    background: url('./img/gallery2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    /* height: 500px; */
  }

  #Swiper3 .swiper-slide:nth-child(3n) {
    background: url('./img/gallery1.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    /* height: 500px; */
  }

#Swiper3 .swiper-no {
    font-family: 'Alice';
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 129.8%;
    text-transform: uppercase;
}
.swiper-button-prev {
    background: url(./img/arrow-left-green.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 80%;
    top: 600px;
    width: 58px;
    height: 58px;
}
.swiper-button-next {
    background: url(./img/arrow-right-green.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 10%;
    top: 600px;
    width: 58px;
    height: 58px;
}
.swiper-button-prev:after {
    display: none;
}
.swiper-button-next:after {
    display: none;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}

/*END of Gallery PAGE */

/* HAMAM PAGE */

.card-item._hamam:nth-child(1) {

}
.sub-heading-card-list {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.card-list-item {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 10px;
}
.card-list-item::before {
    content:  "—";
    position: relative;
    margin-right: 10px;
}
/*END of HAMAM PAGE */

/*SPA for TWO PAGE */

.btn-phone-green-black._spa-2 {
    position: absolute;
    top: 22%;
}
.cards-list-grid._spa-2 {
    grid-template-columns: 27% 27% 27%;
    grid-template-rows: 46% 50%;
    column-gap: 5%;
}
.card-desсription {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    
}
.sub-heading-card-list._spa-2 {
    margin-top: 16px;
}
.sub-heading-card-list._spa-2._low {
    margin-top: 30px;
}
.grid-col1-spa-2 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}
.card-item-pic._spa-2 {
    margin-bottom: 200px;
}
.card-desсription {
    margin-top: 27px;
}
.card-item._spa-2 {
    gap: 0;
}
.card-item._spa-2:nth-child(2)  {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.card-item._spa-2:nth-child(3)  {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.card-item._spa-2:nth-child(4)  {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.card-item._spa-2:nth-child(5)  {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}




/* END of SPA for TWO PAGE */




/* MEDIA  */

@media (max-width: 1360px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .logo {
        width: 209.26px;
        height: 44.11px;
        margin-right: 20px;
    }

    /* ============================================1 часть */
    .header {
        padding-top: 40px;
        padding-right: 0;
        padding-left: 0;
    }

    .header-nav_link {
        font-size: 15px;
    }

    .header-nav {
        margin-right: 35px;
        gap: 20px;
    }

    .menu-select {
        width: 192px;
    }

    .title-hero {
        font-size: 64.9171px;
        line-height: 113%;
        max-width: 600px;
        margin-top: 130px;
        margin-left: 40px;
        margin-bottom: 130px;
    }

}

@media (max-width: 1040px) {
    .header-nav {
        margin-right: 20px;
        gap: 15px;
    }

    .header-nav_link {
        font-size: 11px;
    }
}

/* @media (max-width: 900px) {} */

/* breakpoint: 768, */
/* breakpoint: 500, */





