
body {
  background-color: #e5e5e5;
}

:root {
  --text-size-larg: 16px;
  --text-size-medium: 11px;
}

.one {
  font-size: var(--text-size-medium);
  font-size: var(--text-size-larg);
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
}

.header-nav_list {
  padding-right: 0;

}

.btn-text {
  margin-left: 0px;
  background: url('../img/button.svg');
  background-size: contain;
  background-repeat: no-repeat;
  /* position: relative; */
  position: absolute;
  display: block;
  cursor: pointer;
  transition: 0.3s ease-out;
  transform: scale(1);
}

.btn-services {
  margin-top: 135px;
  cursor: pointer;
}

.header {
  padding-top: 40px;
  padding-right: 7%;
  padding-left: 6%;
}

.header-nav {
  margin-right: 50px;
  gap: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-left: 2px;
}


.btn-text_services {
  padding: 23px 43px 26px 40px;
  transition: 0.3s ease-out;
  transform: scale(1);
}

.btn-text_services:hover {
  transform: scale(1.1);
}

.btn-bg {
  width: 10px;
  height: 66px;
  background: transparent;
  display: none;
}

.btn-text_offers {
  padding: 22px 68px 25px 39px;
  top: 24px;
  font-size: 17px;
  transition: 0.3s ease-out;
  transform: scale(1);
}
.btn-text_offers:hover {
  transform: scale(1.1);
}

/* ==== первый свайпер */
/* подключить js css для свайпера */

.hero_swip-box {
  position: relative;
}
.hero_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.hero_swiper {
  width: 100%;
  max-width: 740px;
  padding-bottom: 33px;
}

.swiper-button-next {
  background: url('../img/arrow-right.svg');
  
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: inherit;
  opacity: 1;
  right: 52%;
  bottom: 85px;
}

.hero-subheading {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
  margin-top: 5px;
}

.white_phone-index {
  top: 17%;
  right: 10%;
  transform: scale(1);
  transition: 0.3s ease-out;
}

.white_phone-index:hover {
  transform: scale(1.1);
}

/* comment */
.white_phone-btn {
  display: block;
  position: absolute;
  background: url('../img/phone.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: 0.4s ease;
  width: 75px;
  height: 75px;
}

.swiper-button-prev {
  background: url('../img/arrow-left.svg');
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: inherit;
  left: inherit;
  width: 58px;
  height: 58px;
  opacity: 1;
  right: 72%;
  bottom: 85px;
}

.hero_visual {
  background: url('../img/hero-pic.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 353px;
  height: 250px;
}

.contacts {
  display: block;
}

.hero_wrap {
  /* max-width: 500px; */
  display: flex;
  justify-content: space-between;
  text-align: left;
  height: 352px;
}

.swiper-pagination-progressbar {
  background: #fff;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #fff;
  top: -2px;
}

.white_phone-index {
  top: 101.7%;
  right: 5%;
  z-index: 3;
}

.main-bg {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  box-sizing: border-box;
  margin-bottom: -93px;
}

.descr-services {
  margin-bottom: 0;
  line-height: 131%;
}

.contact-box {
  display: flex;
  justify-content: space-between;
  gap: 85px;
}

.contact-nav-item {
  display: block;
}

.contact-title {
  display: block;
}

.main-bg::after {
  content: "";
  display: block;
  position: absolute;
  background: linear-gradient(360deg,
      #d2d285 11.43%,
      rgba(210, 210, 133, 0) 100%);
  width: 100%;
  height: 0;
  left: 0px;
  bottom: 59px;
  z-index: -5;
  background: red;
}

.contact-nav {
  gap: 33px;
  max-width: 1098px;
}

.main-bg {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: 100%;
  height: 1270px;
  z-index: -1;
}

.main_gradient {
  position: absolute;
  background: linear-gradient(360deg,
      #d2d285 11.43%,
      rgba(210, 210, 133, 0) 100%);
  background-repeat: repeat;
  background-size: auto;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 63%;
  left: 0;
  bottom: 0;
  z-index: -2;
}

/* слайдер выше  */
/* ==== второй свайпер */
.services {
  position: relative;
  z-index: 0;
  margin-top: 151px;
}

.title-services {
  margin-bottom: 29px;
  line-height: 113%;
}

.services-text {
  display: block;
  flex-direction: inherit;
  max-width: 304px;
  margin-right: 0;
}

.wrap_services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  min-width: 0;
}

.slider_2-wrap {
  position: absolute;
  top: -9px;
  right: 0;
  height: 100%;
  max-width: 64vw;
  margin-top: 18px;
}

.swiper-text {
  margin-top: 25px;
}

.swiper-title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #d4d626;
  width: 232px;
  padding-bottom: 11px;
}

.swiper-no {
  font-family: "Alice";
  font-weight: 400;
  font-size: 56px;
  line-height: 111.8%;
  text-transform: uppercase;
}

.btn-text {
  font-size: 17px;
}

.title-hero {
  font-size: 64.9171px;
  line-height: 113%;
  max-width: 600px;
  margin-top: 130px;
  margin-left: 20px;
  margin-bottom: 125px;
  color: #fff;
}

/* .burger-btn {
  background-image: url(.../img/burger_menu.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  height: 16px;
  border: none;
  width: 24px;
  margin-left: 5vw;
  display: none;
  height: 9.5px;
} */

/* стили крестика ======== */
/* .header-modal-close {
  background-image: url(.../img/moby.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  height: 16.97px;
  width: 16.97px;
} */

/* бургер меню  */
/* .modal__mb {
  position: fixed;
  top: 0;
  left: -3000px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background: rgba(0, 0, 0, 0.59);
  z-index: 10;
  transition: 0.3s ease-in-out;
} */

/* .modal_window {
  position: relative;
  background-color: #515002;
  padding: 40px 20px;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.burger-link {
  margin-top: 30px;
}

.modal_link {
  display: block;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
} */

/* .modal_box {
  display: flex;
  justify-content: space-between;
}

.modal_logo {
  display: block;
  background-image: url(.../img/logo_mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 46px;
  height: 40.89px;
} */

/* input {
  color: #ffffff;
  padding: 7px 0;
}

input::placeholder {
  color: rgba(255, 255, 255, 1);
}

textarea {
  color: #ffffff;
  padding: 7px 0;
  height: 37px;
}

legend {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin-top: 14px;
} */



.maps-moby {

  display: none;
  color: #000000;
  font-size: 12px;
  text-decoration: none;
  align-items: center;
  margin-top: 14px;
  margin-left: 3px;
  margin-bottom: 36px;
}

.maps-moby::before {
  content: '';
  background: url('../img/pin.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 16px;
  margin-right: 10px;
}

.online-reg-title {
  margin-bottom: 48px;
}

.form-input-email {
  text-transform: none;
  padding-top: 3px;
}

.form-input-phone {
  /* margin-top: 24px; */
  /* margin-bottom: 26px; */
  opacity: 1;

}

.online-reg-form {
  /* width: 100%; */
}

.reg-left-wrapper {
  margin-left: 0;
  margin-top: 0;
  padding-left: 8.3%;
  padding-top: 60px;
  padding-right: 8.3%;
}

/* .social {
  font-size: 12px;

  text-align: right;
  letter-spacing: 0.02em;
} */

/* .footer-social {
  gap: 62px;
} */

@media (max-width: 1360px) {
  .container {
    padding: 0 40px;
  }

  .logo {
    width: 209.26px;
    height: 44.11px;
    margin-right: 20px;
  }

  .header {
    padding-top: 40px;
    padding-right: 0;
    padding-left: 0;
  }

  .header-nav_link {
    font-size: 15px;
  }

  .header-nav {
    margin-right: 35px;
    gap: 20px;
  }

  .title-hero {
    margin-top: 130px;
    margin-left: 40px;
    margin-bottom: 130px;
  }

  .services-text {
    max-width: 297px;
    margin-left: 0px;
  }

  .slider_2-wrap {
    max-width: 65vw;
    right: 0px;
  }

  .contact-box {
    gap: 46px;
  }
}

@media (max-width: 1200px) {
  .main-bg {
    height: 1258px;
  }
  .search-txt {
    width: 39vw;
    
  }

  .slider_2-wrap {
    max-width: 63vw;
    margin-top: 0;
  }

  .services-text {
    margin-left: 0;
  }

  .swiper-title {
    font-size: 24px;
  }

  .swiper-no {
    font-size: 46px;
  }

  .slider_2-wrap {
    top: 8px;
  }
  .btn-services {
    margin-top: 63px;
}
}
@media (max-width: 1100px) {
  .slider_2-wrap {
    top: 44px;
}
   .wrap_services {
    margin-bottom: 38px;
  }
}
@media (max-width: 1040px) {
  .hero-heading {
    font-size: 32px;
    max-width: 310px;
  }

  .hero-subheading {
    font-size: 14px;
  }
  .header-nav {
    margin-right: 20px;
    gap: 15px;
  }

  .header-nav_link {
    font-size: 11px;
  }
  
  .title-hero {
    font-size: 54px;
    max-width: 472px;
  }

  .btn-flex {
    gap: 3%;
    margin-top: 35px;
  }

  .online-reg-btn {
    font-size: 14px;
    padding: 6px 15px 7px 15px;
    margin: 0;
  }

  .reg-left-wrapper {
    margin-left: 0;
    margin-top: 0;
    padding-left: 8.3%;
    padding-top: 65px;
    padding-right: 8.3%;
    padding-bottom: 61px;
    padding: 40px 8%;
  }

  .contact-content {
    font-size: 22px;
    line-height: 124%;
  }

  .contacts {
    font-size: 22px;
    line-height: 124%;
  }

  .contact-hours-descr {
    font-size: 12px;
    line-height: 130%;
  }

  .swiper-title::after {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .online-reg-title {
    /* margin-bottom: 0; */
  }
  .btn-services {
    margin-top: 159px;
}
}

@media (max-width: 970px) {
  .services-text {
    max-width: 250px;
  }
  .slider_2-wrap {
    margin-top: 8px;
  }

  .swiper-title {
    font-size: 1.1875rem;
  }
}
@media (max-width: 900px) {
  .header-nav {
    display: none;
  }

  .burger-btn {
    display: block;
  }

  .slider_2-wrap {
   margin-top: 41px;
  }

  .services-text {
    max-width: 205px;
}
 
  .swiper-text {
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  .burger-link {
    margin-top: 89px;
  }
  .modal_window .search-box_mobile-menu {
    margin-top: 70px;
  }
  .mobile_footer {
    margin-top: 51px;
  }
  .header {
    padding-top: 21px;
  }

  .search-txt {
    line-height: 0.5;
    width: 580px;
    top: 11px;
    right: -26px;
    width: 20vw;
    padding: 10px;
  }

  .drop-down {
    margin-left: 3px;
    margin-top: 17px;
  }

  .slider2-item img {
    height: 32.5vw;
  }

  .menu-select {
    /* width: 155px; */
    font-size: 10px;
    margin-left: 1px;
  }

  .pin {
    width: 8.86px;
    height: 11.65px;
    margin-right: 5px;
  }

  .drop-down::after {
    left: 15px;
    top: 22px;
    width: 106px;
  }

  .title-hero {
    font-size: 41.9823px;
    max-width: 374px;
    margin-top: 66px;
    margin-left: 0;
    margin-bottom: 100px;
  }
  .hero_swiper {
    height: 216px;
  }

  .mySwiperText {
    max-height: 216px;
    margin-left: 8%;
  }

  .swipers_box {
    margin-left: auto;
    max-width: 570px;
  }

  .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal {

    width: 100%;
  }

  .swiper-slide {
    justify-content: start;
  }
  .hero_visual {
    width: 259px;
    height: 183px;
    margin-top: 4px;
  }

  .services {
    margin-top: 84px;
  }

  .services-text {
    max-width: 24vw;
    margin-left: 7px;
  }

  .title-services {
    margin-bottom: 14px;
    font-size: 30px;
  }

  .descr-services {
    font-size: 11px;
    line-height: 145%;
  }

  .hero_wrap {
    height: 205px;
  }

  .hero-subheading {
    font-size: 12px;
    letter-spacing: 0.02em;
    margin-top: 0;
  }

  .hero-heading {
    font-size: 28px;
    line-height: 107%;
  }
  .swiper-button-prev {
    width: 44px;
    height: 44px;
    right: 80%;
    bottom: 44px;
  }
  .swiper-button-next {
    width: 44px;
    height: 44px;
    left: 29%;
    bottom: 44px;
  }

  .white_phone-index {
    display: none;
  }

  .main-bg {
    height: 822px;
  }

  .hero-text {
    margin-left: 0px;
    flex-basis: 46%;
  }

  .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal {
    height: 1px;
    width: 100%;
  }

  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    top: -1px;
  }

  .slider_2-wrap {
    max-width: 64.4vw;
    top: 0;
    margin-top: 0;
  }

  .swiper-title {
    
    line-height: 0.9;
  }

  .swiper-no {
    font-size: 30px;
    line-height: 118.8%;
  }

  .swiper-text {
    margin-top: 20px;
  }

  .btn-text {
    font-size: 11px;
  }

  .btn-text {
    position: absolute;
    margin-left: 0px;
    padding: 14px 29px 22px 26px;
  }

  .btn-services {
    margin-top: 116px;
  }

  .offers-title {
    font-size: 30px;
    margin-bottom: 22px;
  }

  .offers-description {
    font-size: 11px;
    line-height: 145%;
    max-width: 194px;
  }
  .online-reg-title {
    max-width: 165px;
    font-size: 30px;
    margin-bottom: 32px;
  }

  .reg-left-wrapper {
    margin: 0;
    padding: 32px 29px;
  }

  .form-input {
    font-size: 12px;
    padding-bottom: 3px;
  }

  .form-input-email {
    padding-top: 0;
    margin-top: 2px;
  }

  .form-input-name {
    font-size: 12px;
    padding-bottom: 0px;
  }
  legend {
    font-size: 7px;
  }
  .online-reg-btn {
    padding: 6px 15px 7px 15px;
  }
  /* textarea {
    height: 25px;
  } */
  .btn-flex {
    margin-top: 34px;
  }
  .online-reg-confirm {
    margin-top: 0;
    font-size: 10px;
  }
  .main-contact-title {
    font-size: 30px;
    line-height: 121%;
    padding-top: 0;
    margin-bottom: 24px;
  }
  .contact-nav {
    gap: 5%;
    padding-bottom: 30px;
    max-width: 652px;
  }
  .contact-title {
    font-size: 12px;
    margin-bottom: 1px;
  }

  .contact-content {
    font-size: 17px;
    line-height: 124%;
  }

  .contacts {
    font-size: 17px;
    line-height: 124%;
  }

  .contact-hours-descr {
    font-size: 10px;
    line-height: 130%;
    margin-top: 4px;
  }

  .contact-email {
    margin-top: 0;
  }

  .map {
    display: block;
  }

  iframe {
    max-height: 310px;
  }

  .offers-grid_item3 {
    display: none;
  }

  /* .footer-flex {
    font-size: 12px;
    letter-spacing: 0.02em;
    gap: 20px;
  } */

  .footer-line {
    margin: 0 20px;
  }

  .footer {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media (max-width: 737px) {
  .btn-services {
    margin-top: 84px;
}
  .reg-left-wrapper {
    margin: 0;
    padding: 32px 36px 38px 32px;
}

.online-reg-confirm {
  margin-top: 0;
  font-size: 12px;
  position: absolute;
  padding-left: 10px;
  left: 34%;
  max-width: 108px;
}
}
@media (max-width: 676px) {
  
  .online-reg-confirm {
    top: 10%;
    left: 34%;
    max-width: 123px;
    padding-left: 20px;
  }
  .reg-left-wrapper {
    padding-right: 16px;
}
}
@media (max-width: 635px) {
  .main-bg {
    height: 849px;
}
.btn-services {
  margin-top: 104px;
}
.slider_2-wrap {
  margin-top: 41px;
}
}
@media (max-width: 620px) {

  .swiper-button-next {
    /* right: 19%; */
  }

  .swiper-button-prev {
    /* right: 28.6%; */
  }

  .swiper-title {
    font-size: 16px;
  }
}

@media (max-width: 570px) {
 
  .header {
    padding-top: 12px;
  }

 
  
  .search-box {
    display: none;
  }

  .search-btn {
    display: none;
  }

  .header-logo {
    text-align: center;
  }
  .swipers_box {
    max-width: 100%;
    display: block;
    margin-left: 0;
  }

  .swiper-horizontal>.swiper-pagination-progressbar,
  .swiper-pagination-progressbar.swiper-pagination-horizontal {
    width: 100%;
    bottom: 0;
  }
  .slider_2-wrap {
    position: relative;
    top: -9px;
    max-width: 100%;
    margin-top: 44px;
  }

  .navbar {
    position: absolute;
    top: 3px;
    right: 24px;
  }

  .pin {
    width: 9.17px;
    height: 12.06px;
  }

  .drop-down {
    /* margin-left: 44px; */
    margin-top: 6px;
  }

  .drop-down::after {
    top: 19px;
    width: 128px;
  }

  /* ====================================== новый файл main.css  */
  .title-hero {
    font-size: 32px;
    line-height: 114%;
    max-width: 277px;
    margin-top: 40px;
    margin-bottom: 42px;
  }

  .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .hero_wrap {
    height: 100%;
    display: block;
  }
  
  .swiper-title::after {
    padding-bottom: 6px;
  }

  .hero_visual {
    width: 259px;
    height: 193px;
    margin-top: 4px;
  }

  .hero_visual {
    width: auto;
    height: 163px;
  }

  .hero-text {
    margin-top: 30px;
  }
  .mySwiperText {
    max-height: 147px;
    margin-left: 0;
  }

  .hero-heading {
    font-size: 25px;
  }

  .hero-subheading {
    font-size: 11px;
    margin-bottom: 9px;
  }

  .hero_swiper {
    padding-bottom: 14px;
    margin-left: 0;
    max-width: 235px;
    height: 100%;
  }

  .swiper-button-prev {
    width: 40px;
    height: 40px;
    right: 36.6%;
    bottom: 77px;
    left: inherit;
    right: 40%;
    display: none;
  }

  .swiper-button-next {
    width: 40px;
    height: 40px;
    left: inherit;
    right: 25%;
    bottom: 77px;
    display: none;
  }
  .services {
    margin-top: 69px;
  }
  .wrap_services {
    line-height: 117%;
    position: relative;
    display: block;
    margin-bottom: 70px;
    margin-left: 0;
  }
  .descr-services {
    font-size: 12px;
    line-height: 150%;
  }
  .main-bg {
    height: 560px;
  }
  .services .container {
    padding-right: 0;
    padding-left: 24px;
  }

  .title-services {
    margin-bottom: 22px;
    max-width: 140px;
  }

  .services-text {
    max-width: 233px;
    margin-left: 7px;
  }
  .hero_wrap { 
    width: 100%;
  }
  .slider2-item img {
    height: 48.9vw;
  }

  .swiper-text {
    margin-top: 12px;
  }

  .swiper-title {
    line-height: 1;
  }

  .btn-services {
    margin-top: 0;
    top: -18px;
    right: 6.7%;
  }

  .btn-text {
    padding: 15px 30px 16px 31px;
    font-size: 13px;
    right: 0;
    top: 28px;
  
  }

  .offers {
    position: relative;
  }

  .btn-text_offers {
    position: absolute;
    padding: 17px 33px 20px 31px;
    top: -11px;
    right: 6.7%;
  }

  .offers-description {
    font-size: 12px;
    max-width: 262px;
    line-height: 150%;
    margin-bottom: 30px;
  }

  .offers-title {
    margin-bottom: 20px;
  }
  .btn-offers {
      position: absolute;
      right: 7%;
      margin: 0;
  }
  .grid_item2-pic {
    max-width: 65%;
    display: block;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .offers-grid_item2 {
    margin-top: 10px;
    
  }
  .grid_item2-pic::before {
    width: 85px;
    height: 85px;
    top: 164px;
    left: -19%;
  }

  .discount-15 {
    top: 269px;
    left: 13%;
    font-size: 2.5rem;
  }

  .grid_item5-pic::before {
    position: absolute;
    width: 114px;
    height: 103px;
    top: inherit;
    left: -26%;
    bottom: 21px;
    background-size: cover;
  }

  .item2-title {
    max-width: 243px;
    font-size: 21px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .item2-text {
    max-width: 246px;
    font-size: 12px;
    line-height: 150%;
    margin: 0 auto;
    margin-bottom: 9px;
  }

  .grid_item4-pic {
    max-width: 90%;
    display: block;
    padding-bottom: 23px;
  }

  .offers-grid_item4 {
    position: relative;
    margin-top: 42px;
    display: flex;
    flex-direction: column;

  }

  .swiper-no {
    line-height: 1.2;
  }
  .discount-10::before {
    width: 5.2rem;
    height: 5.2rem;
}
.discount-10::before {
   right: 90%;
}
  .discount-10 {
    bottom: 39%;
    left: initial;
    right: 4%;
    font-size: 31px;
  }

  .grid_item4-pic::after {
    position: absolute;
    width: 85px;
    height: 85px;
    left: initial;
    top: 78px;
    right: -12px;
  }

  .item4-title {
    font-size: 21px;
    line-height: 110%;
    max-width: 272px;
    margin-bottom: 10px;
  }

  .item4-text {
    max-width: 220px;
    font-size: 12px;
    line-height: 150%;
  }

  .offers-grid_item5 {
    
    margin-top: 25px;
  }

  .grid_item5-pic {
    position: relative;
    display: block;
    background-size: cover;
    max-width: 70%;
    margin: 0 auto;
  }

  .item5-title {
    max-width: 224px;
    font-size: 21px;
    margin: 0 auto;
    line-height: 110%;
    margin-top: 19px;
    margin-bottom: 8px;
    
}

  .item5-text {
    max-width: 221px;
    font-size: 12px;
    margin: 0 auto;
    line-height: 150%;
    padding-bottom: 35px;
  }

  .wraps_box {
    display: flex;
    flex-direction: column;
  }
  .online-reg-right,
  .map,
  .footer-line {
    display: none;
  }
  .registration {
    /* position: absolute; */
    bottom: 130px;
  }
  .reg-left-wrapper {
    /* padding-right: 36px; */
  } 
  .online-reg-form._white .form-input-name {
    padding: 1px 0 4px;
}
.online-reg-form {
  max-width: 96%;
}
  .online-reg-title {
    margin-bottom: 23px;
}
  .online-reg-confirm {
    
    left: 68%;
}
.online-reg-btn {
  padding: 10px 30px;
}
.form-input {
  padding-bottom: 5px;
}
  .contact {
    background: #fff;
    margin-top: 21px;
    padding-bottom: 0;
    position: relative;
  }
  .contact-nav {
    display: block;
    padding-bottom: 40px;
  }
  .contact-content {
    line-height: 120%;
    font-size: 25px;
  }
  br {
    display: none;
  }
.main-contact-title {
  padding-top: 38px;
  margin-bottom: 28px;
}
  .contacts {
    line-height: 120%;
    font-size: 25px;
    
  }

  .contact-box {
    display: block;
  }

  .contact-hours-descr {
    line-height: 150%;
    font-size: 12px;
  }
  .contact-email {
    border-bottom: 0;
    text-decoration: underline solid 1px;
    text-underline-offset: 5px;
   }
.footer {
  background: #e5e5e5;
  order: 10;
}
  .footer-flex {
    flex-direction: column;
  }

  .footer-social {
    width: 100%;
  }

  .offers {
    /* padding-bottom: 20px; */
  }

  .maps-moby {
    display: flex;
  }

  .contacts_nav-items {
    margin-bottom: 40px;
  }
}
@media (max-width: 567px) {
  .logo {
    display: block;
    background: url('../img/logo_mobile.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 46px;
    height: 40.89px;
    margin-right: 0;
  }

  .header-flex {
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burger-btn {
    background: url('../img/burger-green.svg');
  }
}
@media (max-width: 522px) {
  .online-reg-confirm {
    left: 65%;
  }
}
@media (max-width: 500px) {
  .discount-15 {
    top: 237px;
    left: 10%; 
}
}
@media (max-width: 470px) {
  .online-reg-confirm {
    left: 60%;
  }
  .discount-15 {
    top: 219px;
}
.new-spa-circle {
  left: -1%;
  }
}
@media (max-width: 440px) {
  .discount-15 {
    top: 196px;
}
.new-spa-circle {
 
  width: 100px;
  height: 100px;
}
}
@media (max-width: 420px) {
  .discount-15 {
    top: 196px;
    font-size: 2rem;
    left: 9%;
}
.new-spa-circle {
  width: 100px;
  height: 100px;
}
}

@media (max-width: 400px) {
  .discount-15 {
    top: 180px;
}
.discount-10::before {
  width: 5rem;
  height: 5rem;
}
  .contact-hours-descr {
    max-width: 166px;
  }
  .footer-social {
    gap: 0;
  }
}

@media (max-width: 385px) {
  .online-reg-confirm {
    left: 55%;
  }
}
@media (max-width: 375px) {
  .swiper-button-next {
    right: 0%;
  }

  .swiper-button-prev {
    right: 48px;
  }

  .wrap_services {
    margin-bottom: 0;
  }

  .offers {
    padding: 0;
  }

  .offers-title {
    margin-top: 0;
    padding-top: 20px;
  }

  .offers-grid {
    margin-top: 34px;
  }

  .discount-15 {
    top: 164px;
  }
  .discount-10::before {
    width: 4.5rem;
    height: 4.5rem;
}
  .discount-10 {
    bottom: 42%;
    right: -1%;
    font-size: 27px;
}
.new-spa-circle {
  width: 90px;
  height: 90px;
}
}
@media (max-width: 368px) {
  .swiper-no {
    font-size: 24px;
  }
  .online-reg-title {
    font-size: 24px;
}
.online-reg-confirm {
 font-size: 9px;
}
}
@media (max-width: 350px) {
  .discount-15 {
    top: 149px;
    left: 7%;
}
.new-spa-circle {
 left: -3%;
 top: 50%;
}
}
@media (max-width: 340px) {
.main-bg {
  height: 617px;
}
}
@media (max-width: 335px) {
  .discount-15 {
    top: 126px;
    left: 5%;
}
.new-spa-circle {
 left: -6%;
 top: 48%;
}
}
@media (max-width: 320px) {
  .title-hero {
    font-size: 30px;
  }
  .slider2-item img {
    height: 38.9vw;
}
  .swiper-title {
    font-size: 12px;
  }
  .swiper-title::after {
    width: 90%;
}
  .swiper-no {
    font-size: 16px;
  }
  .online-reg-confirm {
    top: 83%;
    font-size: 9px;
}
}